<div class="row justify-content-center">
	<div class="col-5 col-sm-3 col-md-2">
		<div class="mt-2 mb-2" style="
				position: relative;
				background-image: url({{profile_image}}?v={{image_version}}); 
				background-repeat:no-repeat; 
				background-size: cover; 
				width:100%;
				padding-top:100%;
				border-radius: 50%;";>
			<div style="position:absolute; left:0;bottom:5px;">{{upload-image}}</div>
		</div>
	</div>
	<div class="col-md-4">
		{{user-info}}
	</div>
</div>
<div class="row justify-content-center mt-2">
	<div class="col-md-7 text-center">
		<hr class="colorgraph  mt-0">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-7">
		<div class="card">
		  	<div class="card-header">
		  		<div class="row m-0 justify-content-center">
					<div class="col-6 p-0">
						<h3 class="m-0">ข้อมูลส่วนตัว</h3>
					</div>
					<div class="col-6 text-right">
						{{edit-button}}
					</div>
				</div>
			</div>
			<div class="card-body">
				{{user-profile}}
			</div>
		</div>
	</div>
</div>