<div class="col-3 col-lg-2 d-none d-md-block" style="position:absolute; right:10px; top:60px;">
	<div style="border-bottom: 1px solid grey;">
		<div class="m-2 mt-4">
			<div style="
				position: relative;
				background-image: url({{photo}}); 
				background-repeat:no-repeat; 
				background-size: cover; 
				width:100%;
				padding-top:100%;
				border-radius: 50%;";>
			</div>
			{{profile_name}}
			{{this_username}}
			<a href="{{path_to_core}}user/edit.php?id={{id}}"><i style="font-size:0.7em;" class="fas fa-pencil-alt"></i> แก้ไข</a>
		</div>
	</div>
	<div>
		<div>{{linenotify}}</div>
		<div>{{line_at}}</div>
	</div>
</div>

<div class="row justify-content-center d-md-none mb-2">
	<div class="col-4 col-sm-3 mt-2">
		<div style="
				position: relative;
				background-image: url({{photo}}); 
				background-repeat:no-repeat; 
				background-size: cover; 
				width:100%;
				padding-top:100%;
				border-radius: 50%;
				margin-bottom:20px;";>
		</div>
<!-- 		<img class="w-100 profile-image rounded-circle " src="{{photo}}" /> -->
	</div>
	<div class="col">
		<div style="border-bottom: 1px solid grey;">
			{{profile_name}}
			{{this_username}} <a href="{{path_to_core}}user/edit.php?id={{id}}">แก้ไข</a>
		</div>
		<div>{{linenotify}}</div>
		<div>{{line_at}}</div>
	</div>
</div>

<script>
	var go_through_array = function(data,i){
		var val=data[i];
// 		var post = $.post('{{path_to_app}}exam/ajax/get.php?info=title');
// 		post.done(function(r){
// 			val.title = r;
			if(val.type=='minus'){
				if(val.proof){
// 					val.time='<a href="{{path_to_app}}read-again.php?exam_uin='+val.proof+'">'+val.time+'</a>';
					val.credit='<span style="color:red;">-'+val.credit+'</span> <a href="{{path_to_app}}exam/index.php?id='+val.proof+'">['+val.name+']</a>';
				}else{
					val.credit='<span style="color:orange;">-'+val.credit+'</span>';
				}
			}else{
				if($.isNumeric(val.credit)){
					val.credit='<span style="color:green;">+'+val.credit+'</span>';
					if(val.proof){
						val.credit+=' <a href="{{path_to_app}}credit/proof/'+val.proof+'">[หลักฐาน]</a>';
					}
				}
			}
			app = 'credit';
			view.append('block/row','credit-list',val,function(){
				i++;
				if(data[i]){
					go_through_array(data,i);
				}
			});
// 		});
	};
	var get_credit_list = function(user_id,offset,limit){
		var url = '{{path_to_app}}credit/ajax/latest.php?id='+user_id+'&offset='+offset; 
		var get = $.get(url);
		get.done(function(data){
			if(data.length>0){
				data.unshift({time:'เวลา',credit:'เครดิต',remain:'เหลือ',by_username:'โดย',class:'row-header mr-2 ml-2'});
				if(data.length<limit){
					$('#load-more').hide();
				}
				var i=0;
				go_through_array(data,0);
			}else{
				$('#load-more').hide();
			}
		});
	};
	var get_credit_by_month = function(user_id,month,offset,limit){
		var url = '{{path_to_app}}credit/ajax/month.php?id='+user_id+'&month='+month+'&offset='+offset; 
		var get = $.get(url);
		get.done(function(data){
			if(data.length>0){
				data.unshift({time:'เวลา',credit:'เครดิต',remain:'เหลือ',by_username:'โดย',class:'row-header mr-2 ml-2'});
				if(data.length<limit){
					$('#load-more').hide();
				}
				var i=0;
				go_through_array(data,0);
			}else{
				$('#load-more').hide();
			}
		});
	};
	$(function(){
		var user_id = {{id}};
		var limit = 20;
		var offset = 0;
		var month = '';
		get_credit_list(user_id,offset,limit);
		
		$('body').on('click tap','#by_month',function(){
			$('#credit-list').html('');
			limit = 20;
			offset = 0;
			var y = $('#y option:selected').val();
			var m = $('#m option:selected').val();
			$('#load-more').data('type','by_month');
			month = y+'-'+m;
			get_credit_by_month(user_id,month,offset,limit);
		});
		
		var $get = $.get('{{path_to_app}}credit/ajax/remain.php?id={{id}}');
		$get.done(function(data){
			if(data.done){
				$('.credit_remain').html('เครดิตที่มี: '+data.remain+' | <a href="{{line_at_link}}">เติมเครดิต</a>');	
			}
			if({{is_staff}}){
				$('.credit_edit').show();
			}
		});
		
		var dteNow = new Date();
		var intYear = dteNow.getFullYear();
		for(i=0;i<5;i++){
			intYear = intYear-i;
			$('#y').append('<option value="'+intYear+'">'+intYear+'</option>');
		}
		var this_month = dteNow.getMonth()+1;
		for(i=1;i<=12;i++){
			var selected = '';
			if(i==this_month){ selected = 'selected'; }
			var i_show = '';
			switch(i){
				case 1: i_show = 'ม.ค.'; break;
				case 2: i_show = 'ก.พ.'; break;
				case 3: i_show = 'มี.ค.'; break;
				case 4: i_show = 'เม.ย.'; break;
				case 5: i_show = 'พ.ค.'; break;
				case 6: i_show = 'มิ.ย.'; break;
				case 7: i_show = 'ก.ค.'; break;
				case 8: i_show = 'ส.ค.'; break;
				case 9: i_show = 'ก.ย.'; break;
				case 10: i_show = 'ต.ค.'; break;
				case 11: i_show = 'พ.ย.'; break;
				case 12: i_show = 'ธ.ค.'; break;
			}
			$('#m').append('<option value="'+i+'" '+selected+'>'+i_show+'</option>');
		}
		
		$('body').on('click tap','#load-more',function(){
			var type = $(this).data('type');
			offset=offset+limit;
			switch(type){
				case 'by_month': 
					get_credit_by_month(user_id,month,offset,limit);
					break;
				default:
					get_credit_list(user_id,offset,limit);
			}
		});
	});
	
</script>