{{search-div}}
<div class="row justify-content-center">
	<div class="col">
		{{list}}
	</div>
	<div class="ml-auto text-center pt-3 pr-3">
<!-- 		<div class="">จำนวนผู้ใช้</div> -->
		<div class="" style="font-size:110px; line-height:0;">{{user-count}}</div>
	</div>
</div>