<form method="post">
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="row mb-2">
			<div class="col-sm-4">
				Username:
			</div>
			<div class="col-sm-8 text-right">
				<a href="{{path_to_core}}user/edit.php?id={{this_user_id}}">{{username_now}}</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				Password ใหม่:
			</div>
			<div class="col-sm-8">
				<input name="new_password" class="form-control text-right" type="password">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				ใส่อีกครั้ง:
			</div>
			<div class="col-sm-8">
				<input name="new_password_repeat" class="form-control text-right" type="password">
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<hr class="colorgraph">
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-4">
		<input class="btn btn-primary w-100" type="submit" value="ส่งข้อมูล">
	</div>
</div>
</form>
