<form id="addForm" method="post">
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
		<div class="form-group">
			<input name="invitation_code" placeholder="Invitation Code" class="form-control input-lg" type="text">
		</div>
		<div class="form-group">
			<input name="username" placeholder="Username" class="form-control input-lg" type="text">
		</div>
		<div class="form-group">
			<input name="password" placeholder="Password" class="form-control input-lg" type="password">
		</div>
		<div class="form-group">
			<input name="password_retype" placeholder="Password(Reenter)" class="form-control input-lg" type="password">
		</div>
		<hr class="colorgraph">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-4">
		<input class="btn btn-success btn-block" value="ส่งข้อมูล" type="submit">
	</div>
</div>
</form>
<script>
$(function(){
	$("input[name='username']" ).focus();
});
</script>
