<div class="row justify-content-center mb-2">
	<div class="col-md-7">
		<div class="row">
			<div class="col-sm-4">
				ชื่อผู้ใช้เดิม:
			</div>
			<div class="col-sm-8">
				{{username_now}}
			</div>
		</div>
	</div>
</div>
<form method="post">
<div class="row justify-content-center">
	<div class="col-md-7">
		<div class="row">
			<div class="col-sm-4">
				ชื่อผู้ใช้ใหม่:
			</div>
			<div class="col-sm-8">
				<input name="name" class="form-control" type="text">
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<hr class="colorgraph">
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-4">
		<input class="btn btn-primary w-100" type="submit" value="ส่งข้อมูล">
	</div>
</div>
</form>
