<div class="text-center d-inline-block mr-2 mb-2" style="width:70px;">
  	<div><a href="{{path_to_vendor}}pongsit/user/info.php?id={{id}}">
  			<img class="profile-image rounded-circle" 
  				 onError="this.onerror=null;this.src='{{path_to_core}}system/img/profile/male-avatar.png';" 
  				 style="width:50px;height:50px;" 
  				 src="{{path_to_root}}app/system/img/profile/{{id}}">
  		 </a>
  	</div>
    <div style="overflow:hidden;white-space: nowrap;">{{name}}&nbsp;</div>
</div>